/* for entire background */
body {
    background-color: darkgreen;
    margin: 0;
    padding: 20px;
}
/* id productList for text alignment and id productList li for box style sa each products item... */
#productList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
}

#productList li {
    border: 1px solid black;
    padding: 15px;
    width: 200px;
    border-radius: 8px;
    background-color: lightgreen;
}

/*para sa class modal or box nga mo appear sa screen and class modal content is para sa iyang solod nga style sa each items */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);

    justify-content: center;
    align-items: center;
}

.modalContent {
    background: white;
    padding: 20px;
    width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 10px;
    background-color: lightgreen;
}

#closeModal {
    float: right;
    font-size: 25px;
    cursor: pointer;
}

#productListed {
    list-style: none;
    padding: 0;
}

#productListed li {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}